
.bordered_online {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;  
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
     width: 279px;
    margin:0px 0px 0 0px;    
}

.bordered_online tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered_online td
{
	border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;    
}
.bordered_online th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 3px;
    text-align: center;    
}

.bordered_online th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E8E8E8), to(#FCFCFE));
    background-image: -webkit-linear-gradient(top, #E8E8E8, #FCFCFE);
    background-image:    -moz-linear-gradient(top, #E8E8E8, #FCFCFE);
    background-image:     -ms-linear-gradient(top, #E8E8E8, #FCFCFE);
    background-image:      -o-linear-gradient(top, #E8E8E8, #FCFCFE);
    background-image:         linear-gradient(top, #E8E8E8, #FCFCFE);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered_online td:first-child, .bordered_online th:first-child {
    border-left: none;
}

.bordered_online th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered_online th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered_online tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered_online tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

.numberThongKeonline
{
    color: #000000;
    font-family:Arial;
    font-size:12px;   
 }